*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #111827;
}

.container {
    width: 550px;
    margin: 0 auto;
    background-color: whitesmoke;
}

#form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    padding: 1.6875em 1.1875em;
    margin-bottom: 0;
}

#scheme {
    padding: 0.5625em 0.8125em;
    font-weight: 400px;
    border-radius: 0.375em;
    color: #111827;
}

#submit {
    padding: 11px 13px;
    border-radius: 4px;
    color: #374151;
}

#color {
    border-color: #d1d5db;
}
#color, #submit, #scheme {
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #d1d5db;
    height: 42px;
}


#color-1 {
    background-color:#00ffff;
}

#color-2 {
    background-color:#0000ff;
}

#color-3 {
    background-color:#ff0000;
}

#color-4 {
    background-color:#00ff00;
}

#color-5 {
    background-color:#ffff00;
}

.color-bar {
    height: 300px;
}

.color-hex {
    color: #2b283a;
    margin-top: 0px;
    padding: 11px 28px;
}

#colors-display {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    font-size: 0.75rem;
}